
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.8rem;
}.dropdown-sj-SSL {
  box-sizing: border-box;
  padding: 2rem 2rem 9.6rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.dropdown-sj-SSL .property-1tutup-NKz {
  margin-bottom: 1.9rem;
  width: 14.6rem;
  height: 4.8rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #1b1414;
  font-family: Manjari, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3.5rem 4rem rgba(0, 0, 0, 0.0500000007);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.dropdown-sj-SSL .property-1buka-RZA {
  width: 14.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dropdown-sj-SSL .property-1buka-RZA .buka-NzC {
  margin-bottom: 0.8rem;
  width: 100%;
  height: 4.8rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(24, 119, 242, 0.8500000238);
  font-family: Manjari, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3.5rem 4rem rgba(0, 0, 0, 0.0500000007);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.dropdown-sj-SSL .property-1buka-RZA .buka-46L {
  box-sizing: border-box;
  padding: 2.2rem 2.45rem 2.1rem 2.45rem;
  width: 100%;
  row-gap: 2.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.05rem rgba(0, 0, 0, 0.200000003);
  box-shadow: 0 3.5rem 4rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.dropdown-sj-SSL .property-1buka-RZA .buka-46L .sparing-Bgk {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(24, 119, 242, 0.8500000238);
  font-family: Manjari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown-sj-SSL .property-1buka-RZA .buka-46L .jadwal-latihan-86C {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(24, 119, 242, 0.8500000238);
  font-family: Manjari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown-sj-SSL .property-1buka-RZA .buka-46L .tournament-fM2 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(24, 119, 242, 0.8500000238);
  font-family: Manjari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dropdown-sj-SSL .property-1buka-RZA .buka-46L .kejuaraan-ayn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(24, 119, 242, 0.8500000238);
  font-family: Manjari, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
